.DS_Store
*.pyc
__pycache__/
*.egg-info/
dist/
build/
node_modules/
.env
.env.local
*.log
.idea/
.vscode/
*.swp
*.swo
/frontend/build
/backend/.pytest_cache
.venv/
.env
checkpoints/
backend/models/
ml/data/raw
ml/data/processed/